/********************************MOBILES***********************************/

/*****GENERAL*****/
h2 
{
    margin-top: -6.3vh;
    font-size: 1.5rem;
}

/*COUVRIR ENTIEREMENT LA PAGE AVEC LE MENU*/
#navbarNav 
{
    background-color: black;
    background-image: url(img/image692.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -0.5%;
}

/*
    #navbarNav
    {
        backdrop-filter: blur(10px);
    }
*/

/*BAISSER ACCUEIL*/
#page-scroll 
{
    margin-top: 17%;
    font-size: 2.1rem;
}

#scrolltop1 img,
#scrolltop2 img,
#scrolltop3 img,
#scrolltop4 img 
{
    display: block;
    position: static;
    /*
        bottom: 10px;
        right: 10px;
    */
    margin-left: 90.5vw;
    /*
        background-image: url(img/scrolltop.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    */
    cursor: pointer;
    height: 2.3rem;
    width: 2.6rem;
    opacity: 0.5;
}

#scrolltop1 img 
{
    margin-top: 88.5vh;
    margin-left: 89.5vw;
}

#scrolltop2 img 
{
    margin-top: 10.5vh;
    margin-left: 89.5vw;
}

#scrolltop3 img 
{
    margin-left: 89.5vw;
}

#scrolltop4 img 
{
    margin-top: 36vh;
    margin-left: 89.5vw;
}

#scrolltop3 
{
    position: absolute;
    z-index: 30;
    margin-top: 2.5vh;
    width: 2.6rem;
}

/**********ACCUEIL**********/
.navbar 
{
    /*background-color: #0d0d0d;
        border-bottom: solid 0.01rem #4d3d00;*/
    font-size: 1.5rem;
    height: 7.2vh;
    /*3rem*/
}

.nav-link 
{
    margin-bottom: 10%;
    font-size: 2.1rem;
}

.nav-link:hover 
{
    color: darkgoldenrod !important;
}

.navbar-dark .navbar-nav .nav-link.active 
{
    color:
        /*#a6a6a6*/
        darkgoldenrod;
}

nav img 
{
    width: 2.4rem;
    height: 2.5rem;
    margin-top: -0.7rem;
}

/*LOGO MH DE LA NAVBAR*/
#logo 
{
    margin-left: -30%;
}

/*LES 3 BARRES DU MENU SANDWICH*/
.barre 
{
    margin-left: 0%;
    width: 1.7rem;
}

#particles-js 
{
    height: 100vh;
    width: 100vw;
    padding-top: 6.5vh;
    padding-bottom: 10vh;
}

svg 
{
    position: absolute;
    margin-top: 32vh;
}

/*
    #blurred
    {
        position: absolute;
        z-index: 1;
        margin-top: 39vh;
        width: 100vw;
        height: 4rem;
        backdrop-filter: blur(0.8px);
    }
*/

button 
{
    margin-top: -0.6rem;
}

#explorer 
{
    margin-top: -8.5vh;
}

#suivant1 
{
    margin-top: -4vh;
}


/*TEST TEST TEST TEST TEST TEST TEST*/

#background
{
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(img/news2/423.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*TEST TEST TEST TEST TEST TEST TEST*/


/**********A PROPOS***************/

h1 
{
    font-size:/*2.6rem*/9vw;
    margin-top: 25vh;
}

.lyon 
{
    font-size: 7vw;
    margin-top: 31vh;
}

blockquote 
{
    margin-top: 50vh;
    font-size: 5.5vw;
    width: 75vw;
    text-align: center;
}

/*AJOUT DE GUILLEMETS*/

.quote1 
{
    margin-left: -5vw;
    margin-top: -1vh;
}

.quote2 
{
    margin-top: -1vh;
    margin-left: 74vw;
}

#suivant2 
{
    margin-top: 89.5vh;
}

/**********COMPETENCES**********/

#competences
{
}

#suivant3 
{
    margin-top: 12.5vh;
}

.carousel-item 
{
    /*
        background-image: url(img/css3logo.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
*/
}

.carousel-caption 
{
    margin-bottom: -25vh;
}

.d-block 
{
    margin: auto;
    margin-top: 25vh;
}

h4 
{
    margin-top: -18vh;
}

/**********PROJETS**********/

/*
    .card_group
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 7vh;
        margin-left: auto;
        margin-right: auto;
        height: 80vh;
        width: 95vw;
    }

    .card
    {
        height: 35vh;
        width: 40vw;
        border: solid 0.05rem darkgoldenrod;
        background-color: black;
    }   
*/

#projets 
{
}

/*SCROLL-SNAP PERMET DE DEFINIR DES PONTS D'ACCROCHE SUR LES CARTES*/
.scrolling-wrapper 
{
    /*
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-top: 10vh;
        width: 100vw;
*/
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 9vh;
    height: 77vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/*SCROLL-SNAP-ALIGN PERMET DE CENTRER LA CARTE AU POINT D'ACCROCHE*/
.card 
{
    flex: 0 0 auto;
    height: 60vh;
    width: 80vw;
    border: solid 0.15rem darkgoldenrod;
    background-color: black;
    display: inline-block;
    margin-right: 10vw;
    margin-left: 10vw;
    scroll-snap-align: center;
}

.card img 
{
    height: 100%;
    width: 100%;
}

.card-body h4 
{
    font-family: 'Argesta Headline';
    font-size: 3vh;
    color: darkgoldenrod;
    width: 100vw;
    margin-top: 2vh;
}

.card-body p 
{
    font-size: 2.7vh;
    width: 95vw;
    margin-top: 8vh;
}

.card-body h4,
.card-body p 
{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

scrollbar-track 
{
    display: none;
}

::-webkit-scrollbar-track 
{
    display: none;
}

scrollbar 
{
    height: 2.5vh;
}

::-webkit-scrollbar 
{
    height: 2.5vh;
}

scrollbar-thumb 
{
    background-image: url(img/scrollside.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-thumb 
{
    background-image: url(img/scrollside.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#suivant4 
{
    margin-top: 4.5vh;
}

/**********POUR ALLER PLUS LOIN**********/

#pour_aller_plus_loin 
{
}

#fusee 
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    text-align: center;
    font-size: 3vh;
}

#contact 
{
    width: 65vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    /*        margin-top: 1vh;*/
    background-color: black;
    color: darkgoldenrod;
    font-family: 'Argesta Headline';
    text-align: center;
    font-size: 2.7vh;
    font-weight: 1000;
    border: solid 0.01rem darkgoldenrod;
    padding-top: 0.35vh
}

#telephone 
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /*        width: 70vw;*/
    /*        margin-left: -32vw;*/
    font-family: 'Argesta Headline';
    font-weight: 500;
    font-size: 2.5vh;
    /*        font-weight: 200;*/
    margin-top: 5vh;
}

#mail 
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*        width: auto;*/
    /*        margin-left: 2vw;*/
    margin-top: 11vh;
    margin-left: 2vh;
    font-family: 'Argesta Headline';
    color: darkgoldenrod;
    font-size: 2.5vh;
    font-weight: 100;
    text-decoration: underline;
}

#telephone,
#mail,
#linkedin,
#cv,
#github,
#equipage 
{
    display: none;
}

#telephone svg 
{
    position: relative;
    width: 3vh;
    margin-top: -1.5vh;
    margin-right: 1vh;
}

#mail svg 
{
    /*        position: relative;*/
    /*        width: 10vh;*/
    height: 3vh;
    margin-top: 0.5vh;
    margin-left: -20vh;
}

/*
    #contact:active #telephone
    {
        display: block;
    }
    */

#doutes 
{
    width: 50vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16.5vh;
    background-color: black;
    color: #595959;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    border: solid 0.01rem #4d4d4d;
}

#linkedin 
{
    width: 9vw;
    height: 5vh;
    margin-top: 13vh;
    margin-left: 45vw;
    background-image: url(img/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*
#lien_linkedin
{
    width: auto;
    height: auto;
}

#lien_github
{
    margin-left: 35vw;
    width: 11vw;
}
*/

/*
#linkedin p
{
    padding-top: 5vh;
    padding-left: -20vw;
}
*/

#cv 
{
    width: 5vh;
    height: 5vh;
    margin-left: 45vw;
    margin-top: 4vh;
    padding-top: 0.5vh;
    background-color: #705400;
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 2.8vh;
    font-weight: 800;
    border-radius: 3px 3px;
    /*        border: solid 0.01rem #664d00;*/
}

#github 
{
    width: 11vw;
    height: 5vh;
    margin-top: 4vh;
    margin-left: 44.5vw;
    background-image: url(img/github.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#equipage 
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    margin-top: -30vh;
    font-size: 2.8vh;
    font-weight: bold;
    text-align: center;
    color: #4d4d4d;
    font-size: 5vw;
}
