/*********************************GENERAL*********************************/
/*DESACTIVATION DU SCROLLING VERTICAL*/
html 
{
    margin: 0;
    padding: 0;
    width: 100%;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
}

/*POUR LES PERSONNES ATTEINTES DE TROUBLES DU SYSTEME VESTIBULAIRES*/
@media (prefers-reduced-motion: reduce)
{
    html
    {
        scroll-behavior: auto;
    }
}

/*TOUS LES TEXTES EN ECRITURES FINES PAR DEFAUT*/
* 
{
   font-family: 'Alegreya sans', sans-serif;
}

@font-face 
{
    font-family: 'Argesta Headline';
    src: url('fonts/Argesta Headline.otf');
}

/*BACKGROUND FONCE ET ECRITURES DOREES SUR TOUT LE SITE*/
body 
{
    background-color: black;
}
;
/*BACKGROUND ANIME*/
#particles-js 
{
    /*height: 100vh;
    width: 100vw;
    padding: 0;*/
    /*position: absolute;*/
    width: 100vw;
    height: 100vh;
    padding: 0;
}

#accueil
{
    height: 100vh;
    width: 100vw;
}

/*CHAQUE SECTION FAIT LA TAILLE DE L'ECRAN EN HAUTEUR, LE PADDING TOP SERT A COMPENSER LA HAUTEUR DE LA NAVBAR POUR NE PAS CACHER DES ELEMENTS DERRIERE CETTE DERNIERE*/
#a_propos,
#competences,
#projets,
footer 
{
    height: 100vh;
    width: 100vw;
    padding-top: 8vh;
}

#nom, h4, blockquote, p
{
    color: #a6a6a6;
}

h1, h2, h3, #explorer
{
    color: darkgoldenrod;
}

/*******************************DEBUT NAVBAR********************************/

.navbar 
{
    border-bottom: solid 0.01rem #4d3d00;
    font-size: 1.5rem;
    height:3vh;
}

.navbar-toggler, .navbar-toggler-icon
{
    width: 2.3rem;
    height: 2.3rem;
    border-color: #a6a6a6!important;
}

#nom 
{
    font-size: 1.7rem;
    margin-left: -0.9rem;
}

/*LA COULEUR DE LA SECTION CONCERNEE PAR LE SCROLLSPY DANS LA NAVBAR DEVIENT DORE*/
.navbar-nav a.nav-link.active 
{
    color: darkgoldenrod !important;
}

/********************************FIN NAVBAR**********************************/

/*********************************ACCUEIL************************************/


/*CENTRER LE TEXTE ET LE FAIRE PASSER AU-DESSUS DU BACKGROUND PARTICLES*/
h1, h3, h4, blockquote, #logo, #suivant1, #suivant2, #suivant3, #suivant4
{
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*z-index: 2;*/
}

h4
{
    margin-top: 12rem;
    width: auto;
    min-width: 19rem;
    font-size: 8vw;
}

#logo 
{
    margin-top: 7.5rem;
    width: 5rem;
    height: 5rem;
    background-image: url(img/logo_initiales2.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 
{
    margin-top: 50vh;
    width: 95%;
    font-size: 320%;
}

.lyon 
{
    font-family: 'Argesta Headline';
    text-align: center;
    font-size: 2.7rem;
    margin-top: 48vh;
    color: darkgoldenrod;
}

h1,
h2 
{
    font-family: 'Argesta Headline';
    text-align: center;
}

blockquote 
{
    margin-top: 34rem;
    font-size:
        /*2em*/
        200%;
    text-align: center;
    quotes: "“""”";
    line-height: 1.5em;
}

/*DEFINIR LA SURFACE D'ACTIVATION DU BOUTON "#SUIVANT"*/
.bouton
{
    /*margin-left: 21vh;
    margin-right: 20vh;*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 5vh;*/
    /*height: 5vh;*/
    position: absolute;
}

#suivant1
{
    /*margin-top: 96vh;*/
    /*position: absolute;*/
    height: 6vh;
    width: 6vh;
    /*margin-left: auto;
    margin-right: auto;*/
    background-image: url(img/triangle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#suivant2, #suivant3, #suivant4
{
    height: 6vh;
    width: 6vh;
    background-image: url(img/triangle2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#explorer 
{
    /*position: absolute;*/
    /*margin-top: -4rem;
    margin-bottom: 0.19rem;*/
    margin-left: auto;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: transparent;
    /*bottom: 50vh;*/
}
/******************************FIN ACCUEIL**********************************/

/********************************A PROPOS***********************************/
    
#a_propos
{
    background-image: url(img/a_propos_background2.PNG);
    /*background-size: 100vw 100vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.presentation
{
    width: 85vw;
    height: auto;
    background-color: black;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 0.01rem darkgoldenrod;
    text-align: justify;
    font-size: 2.5vh;
}

/******************************FIN A PROPOS*********************************/

/******************************COMPETENCES**********************************/

#competences
{
    background-image: url(img/competences_background4.png);
    /*background-size: 100vw 100vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


/****************************FIN COMPETENCES********************************/

/********************************PROJETS************************************/
#projets
{
    background-image: url(img/marble.png);
    /*background-size: 100vw 100vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/******************************FIN PROJETS**********************************/

/**************************POUR ALLER PLUS LOIN*****************************/
/*#pour_aller_plus_loin
{
    background-image: url(img/competences_background4.png);
    /*background-size: 100vw 100vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.handwriting
{
    width: 85%;
    height: 50%;
    position: static;
    transition: all 1s ease;
    transition-delay: 1s;
}

svg
{
    position: relative;
    width: 100%;
    height: 100%;
}

.text
{
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: animate 8s linear 1 forwards;
}

/************************FIN POUR ALLER PLUS LOIN***************************/



/*////////////////////////////MEDIA QUERIES////////////////////////////////*/

/********************************MOBILES***********************************/
/*ACCUEIL*/
@media (max-width: 768px) and (max-height: 1023px) {
    .navbar 
    {
        background-color: #0d0d0d;
        border-bottom: solid 0.01rem #4d3d00;
        font-size: 1.5rem;
        height: 3rem;
    }

    nav img
    {
        width: 2.7rem;
        height: 2.7rem;
        margin-top: -0.7rem;
    }
    
    #nom 
    {
        font-size: 1.8rem;
        margin-top: -0.6rem;
    }

    button
    {
        margin-top: -0.6rem;
    }
    
    #logo 
    {
        width: 4rem;
        height: 4rem;
        margin-top: 6.5rem;
    }

    h1 
    {
        font-size: 2.3rem;
        margin-top: 34vh;
    }

    .lyon 
    {
        font-size: 2rem;
        margin-top: 42vh;
    }

    h4
    {
        font-size: /*1.7*/2rem;
        margin-top: 10rem;
    }

    blockquote 
    {
        margin-top: 67vh;
        font-size: 7.4vw;
        width: 70vw;
        text-align: center;
    }

    /*AJOUT DE GUILLEMETS*/
    .quote1,
    .quote2 
    {
        position: absolute;
        font-family: 'arial'/*sans-serif*/;
        color: darkgoldenrod;
        font-size: 5rem;
    }

    .quote1 
    {
        margin-left: -7vw;
        margin-top: -1vh;
    }

    .quote2 
    {
        margin-top: 1vh;
        margin-left: 70vw;
    }
    
/* !!! LE POSITIONNEMENT DES #SUIVANTS ET #EXPLORER DEPENDENT DE LA TAILLE DU CONTENU AU-DESSUS D'EUX !!! */
    
    #explorer
    {
        margin-top: -8vh;
    }
    
/*A PROPOS*/

    #suivant2
    {
        margin-top: 3.5vh;
    }

}

/********************************TABLETTES***********************************/
@media (max-width: 1025px) {}

/******************************MODE PAYSAGE**********************************/
@media
    
/*//////////////////////////FIN MEDIA QUERIES//////////////////////////////*/
    
    
    
    
    
    
    
/*//////////////////////////////ANIMATIONS/////////////////////////////////*/
    
/***********************ANIMATION ATOME MENU NAVBAR*************************/
button {
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
    animation: 0;
}
/*PROPRIETES DES BARRES HORS ANIMATION*/
.barre
{
    height: 0px;
    border: 1px solid darkgoldenrod;
    width: 22px;
    display: block;
    position: absolute;
    margin-top: 1rem;
    margin-left: -0.35rem;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background: transparent;
}

/*TAILLE DE L'ATOME*/
button:hover 
{
    transition-delay: 100ms;
    transform: scale(1);
}

button:hover .barre:nth-child(3):before 
{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
}

/*MODIFIER LA VALEUR DE BORDER POUR CHANGER L'EPAISSEUR DES BARRES DE L'ATOME*/
button:hover .barre 
{
    border: 1px solid darkgoldenrod;
    height: 9px;
    border-radius: 50%;
    margin-left: -9px;
    margin-top: 13px;
    animation: atom 300ms linear 1;
    width: 30px;
    top: 0px;
    background: transparent;
}

button:focus 
{
    outline: 0px;
}

/*ESPACEMENT DES BARRES HORS ANIMATION*/
.barre:nth-child(1) 
{
    top: 0px;
}

.barre:nth-child(2) 
{
    top: 8px;
}

.barre:nth-child(3) 
{
    top: 16px;
}

/*PROPRIETES DE LA BALLE*/
.barre:nth-child(3):before 
{
    opacity: 0;
    animation: ball 1.7s linear infinite;
    content: '';
    border: 2px solid darkgoldenrod;
    display: block;
    position: relative;
    top: 0.25px;
}

/*INCLINAISON DES 3 ELEMENTS DE L'ATOME*/
button:hover .barre:nth-child(1) 
{
    transform: rotate(-33deg);
}

button:hover .barre:nth-child(2) 
{
    transform: rotate(90deg);
}

button:hover .barre:nth-child(3) 
{
    transform: rotate(33deg);
}

button:hover .barre:nth-child(3):before 
{
    opacity: 1;
    transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
}

button:active:hover .barre:nth-child(3):before,
button:active .barre:nth-child(3):before,
button:active .barre:nth-child(2) 
{
    opacity: 0;
    transition: all 200ms;
}

button:active .barre
{
    border: 1.5px solid transparent;
    height: 0px;
    border-radius: 0%;
    margin-left: -1px;
    margin-top: 6px;
    animation: division 300ms linear 1;
    width: 25px;
    top: 0px;
}

button:active .barre:nth-child(2) 
{
    width: 0px;
}

button:active .barre:nth-child(3) 
{
    transform: rotate(45deg);
}

button:active .barre:nth-child(1) 
{
    transform: rotate(-45deg);
}

@keyframes atom 
{
    0% 
    {
        transform: rotate(180deg);
    }
}

@keyframes division 
{
    0% 
    {
        transform: rotate(180deg);
    }
}

@keyframes ball 
{
    0% 
    {
        left: -20%;
        top: 10%;
    }

    10% 
    {
        left: 10%;
        top: -35%;
    }

    25% 
    {
        left: 45%;
        top: -50%;
    }

    40% 
    {
        left: 80%;
        top: -20%;
    }

    50% 
    {
        left: 98%;
        top: 18%;
    }

    60% 
    {
        left: 80%;
        top: 50%;
    }

    75% 
    {
        left: 45%;
        top: 80%;
    }

    90% 
    {
        left: 0%;
        top: 60%;
    }

    100% 
    {
        left: -20%;
        top: 10%;
    }
}

/***********************ANIMATION SIGNATURE FOOTER*************************/

@keyframes animate
{
    to{
        stroke-dashoffset: 0;
    }
}