/**********NAVBAR**********/

#logo
{
    width: 50px;
    height: 50px;
}

.barre
{
    width: 2.5rem;
    margin-top: 2.2vh;
    margin-left: -2.5vw;
}

button:hover .barre 
{
    border: 1px solid darkgoldenrod;
}

/*ESPACEMENT DES BARRES HORS ANIMATION*/
.barre:nth-child(1) 
{
    top: 0px;
}

.barre:nth-child(2) 
{
    top: 11px;
}

.barre:nth-child(3) 
{
    top: 22px;
}

/*TAILLE DE L'ATOME*/
button:hover 
{
    transform: scale(1.5);
    margin-top: -0.3vh;
}

/*COUVRIR ENTIEREMENT LA PAGE AVEC LE MENU*/
#navbarNav 
{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -0.5%;
}

/*BAISSER ACCUEIL*/
#page-scroll 
{
    margin-top: 15vh;
}

a.nav-link
{
    font-size: 2.5rem;
    margin-top: 5vh;
}

/**********A PROPOS**********/

blockquote
{
    margin-top: 55vh;
    width: 54vw;
}

.quote1
{
    margin-left: -3vw;
    margin-top: -1vh;
}

.quote2
{
    margin-left: 54vw;
    margin-top: -1vh;
}

@media (min-width: 1024px)
{
    blockquote
    {
        margin-top: 55vh;
        width: 45vw;
    }
    
    .quote1
    {
        margin-left: -1vw;
        margin-top: -1vh;
    }

    .quote2
    {
        margin-left: 44vw;
        margin-top: -1vh;
    }
}

/**********PROJETS**********/

/*SCROLL-SNAP PERMET DE DEFINIR DES PONTS D'ACCROCHE SUR LES CARTES*/
.scrolling-wrapper 
{
    /*
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-top: 10vh;
        width: 100vw;
*/
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5vh;
    height: 77vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/*SCROLL-SNAP-ALIGN PERMET DE CENTRER LA CARTE AU POINT D'ACCROCHE*/
.card 
{
    flex: 0 0 auto;
    height: 60vh;
    width: 60vw;
    border: solid 0.15rem darkgoldenrod;
    background-color: black;
    display: inline-block;
    margin-right: 20vw;
    margin-left: 20vw;
    scroll-snap-align: center;
}

.card img 
{
    height: 100%;
    width: 100%;
}

.card-body h4 
{
    font-family: 'Argesta Headline';
    font-size: 3vh;
    color: darkgoldenrod;
    width: 100vw;
    margin-top: 2vh;
}

.card-body p 
{
    font-size: 2.7vh;
    width: 95vw;
    margin-top: 8vh;
}

.card-body h4,
.card-body p 
{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

scrollbar-track 
{
    display: none;
}

::-webkit-scrollbar-track 
{
    display: none;
}

scrollbar 
{
    height: 2.5vh;
}

::-webkit-scrollbar 
{
    height: 2.5vh;
}

scrollbar-thumb 
{
    background-image: url(img/scrollside.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-thumb 
{
    background-image: url(img/scrollside.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#suivant4 
{
    margin-top: 6vh;
}

/**********POUR ALLER PLUS LOIN**********/


#fusee 
{
    font-size: 3.5vh;
    margin-top: 15vh;
}

#doutes
{
    margin-top: 18vh;
}

#equipage 
{
    font-size: 4vw;
    margin-top: -26vh;
}

#linkedin
{
    margin-top: 10vh;
}
